<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

{{ partial "navbar.html" . }}

  <main>
    <section class="teal-bg">
      <div class="container one-box">
        <div class="row">
          <div class="col text-center">
            <h1 class="black display-1">{{ .Title }}</h1>
            <p class="black lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <div class="container blog-list one-box">
      <div class="row">
        <h2 class="mb-4">Recent Posts</h2>
            {{ range .Pages }}
            <div class="blog-col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
              <a href="{{ .RelPermalink }}">
                <div class="blog-listing">
                  {{ if .Params.featured_image }}
                    <div class="featured-image" style="background-image: url('{{ .Params.featured_image }}');"></div>
                  {{ end }}
                    <div class="p-4 pb-5">
                      <a href="{{ .RelPermalink }}"><h3 class="display-6">{{ .Title }}</h3></a>
                      <span class="grid-gray">{{ .Date.Format "2006-01-02" }}</span>
                      <span class="preview-content small">{{ .Content }}</span>
                    </div>
                  </div>
                </a>
              </div>
            {{ end }}
          <a href="/">Back to home</a>
      </div>
    </div>
  </main>
  <footer>
      {{- partial "footer-content.html" . -}}
      {{- partial "footer.html" . -}}
  </footer>

</body>

<style>

  .preview-content{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .featured-image {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

  .blog-listing{
    border: 1px solid #949494;
    transition: 0.2s ease-in-out;
    min-height: 400px;
  }

  .blog-listing:hover{
    background-color: #252525 !important;
  }

</style>

</html>
