<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "navbar.html" . }}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-9 pe-xl-5 pe-lg-5 pe-md-5 pe-sm-2 pe-2">
          <div class="one-box">
            <h1 style="text-transform:lowercase;">{{ .Title }}</h1>
            <p>Published: {{ .Date.Format "02/01/2006" }}</p>
            {{ .Content }}
            <a href="{{ "blog" | relURL }}">Back to blog</a>
          </div>
        </div>

        {{ partial "sidebar" . }}

      </div>
    </div>
  </main>
  <footer>
      {{- partial "footer-content.html" . -}}
      {{- partial "footer.html" . -}}
  </footer>
</body>
</html>

<style>


.sidebar {
  flex: 0 0 30%;
  max-width: 20%;
  border-left: 1px solid #949494;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  padding: 0.5em 0;
}

img{
  max-width: 100%;
}

code{
  color:#ff7ba7;
}
</style>
