<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{  partial "navbar.html" . }}
  <main>
    <div class="container one-box">
      <div class="row">
        <div class="col">
          <h1 class="display-1">{{ .Title }}</h1>
          <p>{{ .Date.Format "2006-01-02" }}</p>
          {{ .Content }}
          <a href="{{ "blog" | relURL }}">Back to blog</a>
        </div>
      </div>
    </div>
  </main>
  <footer>
      {{- partial "footer-content.html" . -}}
      {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
