<hr>

<section>
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="one-box-down">
          <h4 class="text-center">Check out which versions we have bottled</h4>
          <p class="text-center">We&#39;ve compiled a list of every package that&#39;s been bottled, along with their corresponding versions.</p>
        </div>
        <a href="/bottles/">
            <button class="detail-btn-large bottle-cta"><i class="icon-enter-arrow"></i>VIEW ALL BOTTLES</button>
        </a>

        <style>

          .bottle-cta{
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

        </style>

      </div>
    </div>
  </div>
</section>

<hr>
