<!-- Desktop CTA's -->
<div class="row desktop-ctas">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <a href="https://docs.tea.xyz/getting-started">
      <button class="hbtn hb-fill-right github-click" style="width:100% !important;">INSTALL TEA <span class="release" style="text-transform:lowercase;"></span></button>
    </a>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <a href="https://www.producthunt.com/posts/tea?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tea" class="product_hunt">
      <button class="hbtn-light hb-light-fill-right github-click-secondary" style="width:100% !important;">PRODUCT HUNT</button>
    </a>
  </div>
</div>
