<!-- Desktop CTA's -->
<div class="row desktop-ctas">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <a href="https://github.com/teaxyz/cli#getting-started">
      <button class="hbtn hb-fill-right github-click" style="width:100% !important;">INSTALL TEA <span class="release" style="text-transform:lowercase;"></span></button>
    </a>
    <p class="small grid-gray text-center mt-2">via out GitHub README</p>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <a href="https://github.com/teaxyz/cli">
      <button class="hbtn-light hb-light-fill-right github-click-secondary" style="width:100% !important;">GITHUB <span class="stargazers" style="text-transform:uppercase;"></span></button>
    </a>
  </div>
</div>
