<div class="container hero-container">
  <div class="row">
    <div class="col">
      <h1 class="impact text-center" style="z-index:3; position: relative;">Invisible yet <span class="callout white">powerful</span></h1>
      <div class="lead-box flex text-center black-bg p-xl-5 p-lg-5 p-md-5 p-sm-3 p-3">
        <p class="lead-text lead">Upgrade to Tea - the revolutionary, cross-platform package manager. Say goodbye to slow & clunky, and say hello to fast & smooth updates. From the creator of Brew.</p>
      </div>
    </div>
  </div>
</div>
</section>
<div class="full-width-cta-container">
 {{- partial "full-width-cta-split.html" . -}}
</div>
