<!-- Package CTA Section
  <section class="package-cta-section" id="authenticate">
      <div class="container package-cta-container one-box">
        <div class="row one-box-down one-box-up">
          <div class="col-lg-9">
            <h3>Authenticate your GitHub for an even bigger sip</h3>
            <p class="lead">Using tea without authenticating is like playing a video game without the DLC. There’s so much more to our ecosystem than a command line interface, and we want you to be a part of it.</p>
          </div>
        </div>
        <hr>
        <div class="row one-box-up">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 one-box-down">
            <i class="icon-pattern-random-21 teal display-6"></i>
            <h5>Map out the Tea’cosystem</h5>
            <p>The more people authenticate, the clearer picture we have on just how strong the pot of tea we’re brewing is. We’ll be able to see just how many newcomers and bona-fide OSS veterans have enlisted for the revolution.</p>
            <img class="mobile-grid-element" src="/Images/mobile-grid-element-one-row.svg" alt="grid">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 one-box-down">
            <i class="icon-pattern-random-15 teal display-6"></i>
            <h5>Get Recognized</h5>
            <p>Authenticating your GitHub enables us to quantify and reward the contributions <em>you’ve already made</em> to the Open-Source Community</p>
            <img class="mobile-grid-element" src="/Images/mobile-grid-element-one-row.svg" alt="grid">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 one-box-down">
            <i class="icon-pattern-random-19 teal display-6"></i>
            <h5>NFT Reward Badges</h5>
            <p>Authenticating your GitHub entitles you to unique NFT reward badges, including one with rare artwork specific to how soon you authenticate.</p>
            <img class="mobile-grid-element" src="/Images/mobile-grid-element-3-rows.svg" alt="grid">
          </div>
        </div>
      </div>
  </section>
{{- partial "full-width-cta.html" . -}}
