<div class="card card-thumbnail" style="width: 100%" data-name="{{- .name -}}" data-popularity="{{- .dl_count -}}" data-last_modified="{{- .last_modified -}}" data-description="{{- .short_description -}}" data-maintainer="{{- .maintainer -}}">
  <a href="/+{{- lower .full_name -}}/">
    <div class="p-3">
    <figure class="card-img-top" >
      <img class="package-image" src="{{- .thumb_image_url -}}" alt="{{- .name -}}" style="width:100%; height:100%;">
      <article class="card-thumb-label p-3">
        <i class="icon-tea-logo-iconasset-1 lead" style="color:#1a1a1a;"></i>
        <h3 class="package-title mb-1">{{- .name -}}</h3>
        {{ if not (eq .maintainer "") }}
          <h4 class="small">&#x2022;&nbsp;{{- .maintainer -}}</h4>
        {{end}}
      </article>
    </figure>
  </a>
  <div class="card-body thumbnail-body">
    <div class="card-text-container">
      <p class="card-text small">
        <span class="grid-gray">V&NonBreakingSpace;{{- .version -}}</span>
        <!--
        TODO: uncomment once install counts improve
        <br>
        <span class="package-install-no">>{{- .installs -}}&nbsp;installs</span> -->
      </p>
    </div>
    <a href="/+{{- lower .full_name -}}/">
      <button class="hbtn hb-fill-right detail-btn" type="button" name="button">Details</button>
    </a>
  </div>
  <div class="card-body thumbnail-body-mobile">
    <a href="/+{{- lower .full_name -}}/">
      <button class="detail-btn-mobile"><i class="icon-enter-arrow"></i>details</button>
    </a>
  </div>
  </div>
</div>
