<div class="col-md-3 sidebar one-box ps-4">

  <h4 class="mt-4">categories</h4>
  <ul class="sidebar-list">
    {{ range .Site.Taxonomies.categories }}
      <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ .Page.Title }}</a></li>
    {{ end }}
  </ul>

  <h4 class="mt-4">tags</h4>
  <ul class="sidebar-list">
    {{ range .Site.Taxonomies.tags }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ .Page.Title }}</a></li>
    {{ end }}
  </ul>

  <h4 class="mt-4">communi'tea</h4>
  <div>
    <i class="icon-telegram white"></i>
    <i class="icon-github white"></i>
    <i class="icon-twitter white"></i>
    <i class="icon-discord white"></i>

  </div>

  <h4 class="mt-4">give a star</h4>
  <a class="github-button" href="https://github.com/teaxyz/cli" data-icon="octicon-star" data-show-count="true" aria-label="Star teaxyz/cli on GitHub">Star</a>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</div>


<style>

  .sidebar-list{
    line-height:12px;
  }

  .sidebar-list a{
    color: #fff;
  }

  .sidebar-list a:hover{
    color: #00ffd0;
  }

</style>
