<div class="row">
  <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12 col-12 ps-5 pe-5 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5 teacli-col">
    <h3 class="text-center" style="font-size:28px; line-height:32px;">Download tea/gui (beta) for macOS</h3>
    <p class="text-center mb-4">A new visual package manager that everyone can use.</p>
    <div class="row mb-3 gx-3">
      <div class="col">
        <a href="https://dist.tea.xyz/tea.xyz/gui/tea-latest-arm64.dmg">
          <button class="hbtn hb-fill-right gui-dl-click" style="width:100%;"><i class="icon-apple"></i>M1/M2 Chip</button>
        </a>
      </div>
      <div class="col">
        <a href="https://dist.tea.xyz/tea.xyz/gui/tea-latest.dmg">
          <button class="hbtn hb-fill-right gui-dl-click" style="width:100%;"><i class="icon-apple"></i>Intel Chip</button>
        </a>
      </div>
    </div>
    <p class="grid-gray text-center small twoway-boiler">And head over to <a class="install-link" href="https://www.producthunt.com/posts/tea">Product Hunt</a> for more info (and maybe give us an upvote, while you're at it).</p>
  </div>
  <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12 col-12 ps-5 pe-5">
    <h3 class="text-center" style="font-size:28px; line-height:32px;">Copy our one-liner to your terminal</h3>
    <p class="text-center mb-4">Best for developers who are used to working with CLIs.</p>
    {{- partial "click-to-copy.html" . -}}
    <p class="no-installer grid-gray text-center small twoway-boiler"><span class="tea">tea</span> is a stand&#8208;alone binary, see <a class="install-link" href="https://docs.tea.xyz/getting-started/install-tea/without-installer">our docs</a> for more installation methods, including&nbsp;<span class="tea brew-install no-break pe-2">brew install</span>&nbsp;.</p>
  </div>
</div>

<style>

  .twoway-boiler::selection,
  .install-link::selection,
  .tea::selection{
    background-color: #00ffd0;
    color: #1a1a1a;
  }

  .twoway-boiler{
    font-size: 16px;
    line-height: 26px;
    color: #e1e1e1 !important;
  }

  .brew-install{
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #2B2A2A;
  }

  .no-break::before {
    content: "\00a0"; /* non-breaking space character */
  }

</style>
