<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
  {{- partial "twitter-card.html" -}}
</div>
