/* Footer Styling */

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 1.116vw;
    font-size: 1.562vw;
    color: #fff;
    font-family: "inter", sans-serif !important;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .footer-content{
    padding-right: 5.580vw;
  }

  .social-icon{
    margin-right: 1.116vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:50.223vw;
  }
