/* General/Utilities */

  html,body{
    background-color: #1a1a1a;
    max-width: none;
    overflow-x: hidden;
    margin-top:30px;
  }

  .container{
    max-width: 1280px;
    /*padding: 8.371vw 4.5vw;*/
  }

/* Brand Colors */

.teal{color:#00ffd0;}
.black{color:#1a1a1a;}
.dark-gray{color:#4d4d4d;}
.grid-gray{color:#949494;}
.light-gray{color: #e1e1e1;}
.white{color:#ffffff;}
.purple{color: #8000ff;}
.orange{color: #ff4100;}

/* Background Colors */

.teal-bg{background-color:#00ffd0;}
.black-bg{background-color: #1a1a1a;}
.dark-gray-bg{background-color: #4d4d4d;}
.grid-gray-bg{background-color: #949494;}
.light-gray-bg{background-color: #e1e1e1;}
.white-bg{background-color: #ffffff;}
.purple-bg{background-color: #8000ff;}
.orange-bg{background-color: #ff4100;}

/* Spacers & Dividers */

hr{
  border-bottom: 2px solid #949494 !important;
  opacity: 1;
  margin: 0px !important;
}

mark{
  background-color: #00ffd0 !important;
  color: #1a1a1a;
}

@media only screen and (min-width: 576px) {

  #impact-break{
    display:none;
  }
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
