/* General/Utilities */

  html,body{
    background-color: #1a1a1a;
    max-width: none;
    overflow-x: hidden;
    margin-top:30px;
  }

  .container{
    max-width: 1280px;
    /*padding: 8.371vw 4.5vw;*/
  }

/* Brand Colors */

.teal{color:#00ffd0;}
.black{color:#1a1a1a;}
.dark-gray{color:#4d4d4d;}
.grid-gray{color:#949494;}
.light-gray{color: #e1e1e1;}
.white{color:#ffffff;}
.purple{color: #8000ff;}
.orange{color: #ff4100;}

/* Background Colors */

.teal-bg{background-color:#00ffd0;}
.black-bg{background-color: #1a1a1a;}
.dark-gray-bg{background-color: #4d4d4d;}
.grid-gray-bg{background-color: #949494;}
.light-gray-bg{background-color: #e1e1e1;}
.white-bg{background-color: #ffffff;}
.purple-bg{background-color: #8000ff;}
.orange-bg{background-color: #ff4100;}

/* Spacers & Dividers */

.klaviyo-form{
  border: 1px solid #949494;
  padding: 5px;
  border-radius: 5px;
}
#email_61878536{
  background-color: #1a1a1a !important;
  border-radius: 0px !important;
  border: none !important;
  font-family: "inter", sans-serif !important;
  color: #ffffff !important;
  height: 40px !important;
}
#email_61878536:focus{
  border:none !important;
  box-shadow: none !important;
}
.go3894874857{
  background-color: #8000ff!important;
  font-family: "inter", sans-serif !important;
  border-radius: 3px !important;
  font-weight: 400 !important;
  height: 40px !important;
}

hr{
  border-bottom: 1px solid #949494 !important;
  opacity: 1;
  margin: 0px !important;
}

mark{
  background-color: #00ffd0 !important;
  color: #1a1a1a;
}

.navbar{
  position: fixed;
  width:100%;
  padding: 0px !important;
  background-color: #1a1a1a !important;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}

.top-logo{
  width:50px !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
