/* Navbar General */

.navbar{
  position: fixed;
  width:100%;
}

@media only screen and (min-width: 1200px) {

  /* Menu CTA */

  .hbtn {
    font-family: "pp-neue-machina";
    background-color: #8000ff;
    position: relative;
    box-sizing: border-box;
    height: 4.4vw !important;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    width: 300px;
    text-align: center;
    border:none;
    text-decoration: none;
    color: rgb(225, 225, 225);
    white-space: nowrap;
    z-index: 0;
  }


  .hbtn i {
        padding-right: 8px;
  }


  .hb-fill-right::before {
        position: absolute;
        content: "";
        background: rgb(91, 0, 184);
        transition-duration: 0.2s;
        z-index: -1;
        inset: 0px auto auto 0px;
        width: 0px;
        height: 100%;
        opacity: 1;
  }


  .hb-fill-right:hover::before {
        width: 100%;
        height: 100%;
        opacity: 1;
  }


  .hb-fill-right:hover {
        color: rgb(255, 255, 255);
        background: rgb(91, 0, 184);
        transition: color 0.3s ease 0s, background 0s ease 0.3s;
  }

  /* End Menu CTA */

  div.container-fluid.top-nav{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 4.5vw;
    border-bottom: 2px solid #949494;
  }

  .nav-logo{
    width: 4.4vw;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* Menu CTA */

  .hbtn {
    font-family: "pp-neue-machina";
    background-color: #8000ff;
    position: relative;
    box-sizing: border-box;
    height: 4.9vw !important;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    width: 300px;
    text-align: center;
    border:none;
    text-decoration: none;
    color: rgb(225, 225, 225);
    white-space: nowrap;
    z-index: 0;
  }


  .hbtn i {
        padding-right: 8px;
  }


  .hb-fill-right::before {
        position: absolute;
        content: "";
        background: rgb(91, 0, 184);
        transition-duration: 0.2s;
        z-index: -1;
        inset: 0px auto auto 0px;
        width: 0px;
        height: 100%;
        opacity: 1;
  }


  .hb-fill-right:hover::before {
        width: 100%;
        height: 100%;
        opacity: 1;
  }


  .hb-fill-right:hover {
        color: rgb(255, 255, 255);
        background: rgb(91, 0, 184);
        transition: color 0.3s ease 0s, background 0s ease 0.3s;
  }

  /* End Menu CTA */

  div.container-fluid.top-nav{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 5vw;
    border-bottom: 2px solid #949494;
  }

  .navbar-brand{
    padding-top:0px !important;
    padding-bottom: 0px !important;
  }

  .nav-logo{
    width: 4.9vw;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 10vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 9.8vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 13.5vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 13.2vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 576px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 11vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 10.7vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }

}
