/* Navbar General */

.navbar{
  position: fixed;
  width:100%;
}

  div.container-fluid.top-nav{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 62px !important;
    border-bottom: 2px solid #949494;
  }

  .nav-logo{
    width: 60px;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    text-transform: uppercase;
  }
}
