/* General Typography */

@font-face {
  font-family: "pp-neue-machina";
  src: url("/fonts/PPNeueMachina-InktrapLight.woff");
}

@font-face {
  font-family: "sono";
  src: url("/fonts/Sono-Light.woff2");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-Regular.woff");
}

@font-face {
  font-family: "mona";
  src: url("/fonts/Mona-Sans-ExtraBold.woff");
}

@font-face {
  font-family: "mona-sb";
  src: url("/fonts/Mona-Sans-SemiBold.woff");
}
/*
h1,h2,h3,h4,h5,h6,p,.lead{
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto !important;
}
*/

.impact{
  text-shadow: 0px 0px 18px #121212;
}

h1{
  font-family: "mona", sans-serif;
  color:#00ffd0;
  text-transform:uppercase;
}

h2{
  font-family: "mona-sb", sans-serif;
  color:#00ffd0;
  text-transform:uppercase;
  hyphens: auto;
}

h3{
  font-family: "mona-sb", sans-serif;
  color:#00ffd0;
}

h4{
  font-family: "mona-sb", sans-serif;
  color:#00ffd0;
}

h5{
  font-family: "mona-sb", sans-serif;
  color:#00ffd0;
  text-transform: uppercase;
}

p{
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-family: "inter", sans-serif !important;
  color: #ffffff;
  font-weight: 500;
}

li{
  font-family: "inter", sans-serif !important;
  color: #ffffff;
}

.terminal-output,.terminal-input{
  font-family: "sono", sans-serif !important;
  color: #ffffff;
}

a{
  color: #fff;
  text-decoration: none;
}

a.nav-link{
  color: #e1e1e1;
  border-bottom: 1px solid #1a1a1a;

}

a.nav-link:hover{
  color: #00ffd0;
  border-bottom: 1px solid #00ffd0;
}

/* Breakpoint-Specific Typography */

@media only screen and (max-width: 576px) {

  .impact{
    font-size: 12vw !important;
    line-height: 11.2vw!important;
    margin-top: 1vw !important;
    margin-bottom: -2.5vw !important;
    text-align: left !important;
  }

  h1{
    font-size: 16vw;
    line-height: 20.4vw;
  }

  h2{
    font-size: 14vw;
    line-height: 5rem;
  }

  h3{
    font-size: 12vw;
    line-height: 16vw;
  }

  h4{
    font-size: 7.6vw;
    line-height: 9vw;
  }

  a.nav-link.footer-link.small{
    font-size: 3vw;
    padding-left: 0px !important;
    padding-right: 2.232vw !important;
  }

  ul.nav.justify-content-end{
    justify-content: flex-start !important;
  }
}
