{{ define "main" }}

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1 mb-5">tea @ Web Summit 2022</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
        <h2>Schedule</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Thursday, Nov. 3 @ 11:30AM</div>
              Max Howell speaks on the FLLSTACK stage (excitement announcement planned)
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Thursday, Nov 3 @ 2:05PM</div>
              Panel on fundraising for tech companies on FLLSTACK stage
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Thursday Evening, Nov 3 – Investor Dinner (privatea)</div>
              Dinner event exclusively for tea investors
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Friday, Nov 4 – 6:00PM - 9:00PM (privatea)</div>
              We're throwing a tea launch party at Mundial Hotel! RSVP here or scan the QR code below.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

  .list-group-item{
    background-color: #54BAAB !important;
  }

  .countdown-section{
    display: none;
  }

</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col">

      </div>
    </div>
  </div>
</section>

{{ end }}
