{{ define "main" }}

<!-- Package Grid -->

<!-- Desktop/Tablet Package Display -->

  <span class="grid-package-display">
    {{- partial "package-grid.html" . -}}
  </span>

<!-- Mobile Package Display -->

  <span class="swiper-package-display">
    {{- partial "swiper.html" . -}}
  </span>

<!-- Style for Swiper -->

<style>
  .swiper-package-display{
    display:block;
  }
  .grid-package-display{
    display:none;
  }
  @media only screen and (min-width: 576px) {

      .grid-package-display{
        display:block;
      }

      .swiper-package-display{
        display:none;
      }
  }
</style>

<hr>

<section>
  <div class="container">
    <div class="row two-boxes">
      <div class="col">
        <h2 class="display-3 text-center">Wanna help us with the top 300 packages?</h2>
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>

<div class="full-width-cta-container">
 {{- partial "full-width-cta-split.html" . -}}
</div>

{{ end }}
