{{ define "main" }}

<section class="two-boxes">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h1>Press</h1>
        <div class="one-box-down">
          <p class="lead mb-5" style="margin-bottom: 0px;">Tea Inc. is a Puerto Rico-based corporation that is building the open-source toolkit that makes development possible and builds the internet. Developers can work on any platform, CI/CD on any platform, deploy on any platform; Tea abstracts this detail away so developers can get on with the work that matters. Those interested in joining the team fixing how open-source is funded should reach out through Telegram or Discord at https://linktr.ee/teaxyz.</p>
        </div>
        <a href="mailto:press@tea.xyz?subject=Press Inquiry">
          <button class="detail-btn-large"><i class="icon-enter-arrow"></i>CONTACT US</button>
        </a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

      </div>
    </div>
  </div>
</section>

<hr>

<section class="one-box">
  <div class="container">
    <div class="row one-box-down">
      <div class="col">
        <h3>Assets</h3>
      </div>
    </div>

    <div class="row one-box-down">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Type</h5>
        <p>Brand Style Guide</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Format</h5>
        <p>PDF</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Size</h5>
        <p>1.5 MB</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <h5>Asset Link</h5>
        <button class="asset-btn">DOWNLOAD</button>
      </div>
    </div>

    <div class="one-box-down">
      <hr>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Type</h5>
        <p>Brand Library</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Format</h5>
        <p>Google Drive</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <h5>Size</h5>
        <p>variable</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <h5>Asset Link</h5>
        <a href="https://drive.google.com/drive/u/0/folders/1JB7Fa3hzM639KtRjgpKkcBGRwx4Lr-k3">
          <button class="asset-btn">OPEN FOLDER</button>
        </a>
      </div>
    </div>

  </div>
</section>

<hr>

<section class="one-box">
  <div class="container">
    <div class="row one-box-down">
      <div class="col">
        <h3>In the Press</h3>
      </div>
    </div>
    <div class="row one-box-down gx-5">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2">
        <h5>Binance</h5>
        <p class="press-desc">Binance Labs, the venture capital and innovation incubator of Binance, led an $8 million seed funding round of Tea, a new company building an open-source software platform on the blockchain. Open source has been foundational for the Internet, underpinning everything online for more than twenty-five years. Tea Co-Founder and CEO, Max Howell, is known for creating Homebrew, also known as “brew,” the most contributed-to open-source software program globally. Homebrew has been used by tens of millions of developers worldwide and has served as the backbone for the most prominent technology corporations to build their products without directly contributing to its development. </p>
        <a href="https://www.binance.com/en/blog/ecosystem/binance-labs-leads-$8-million-seed-funding-round-for-tea-421499824684903608">Read more</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1">
        <div class="press-image" id="binance-img">

        </div>
      </div>
    </div>

    <div class="divider one-box-down">
      <hr>
    </div>

    <div class="row one-box-down gx-5">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2">
        <h5>TechCrunch</h5>
        <p class="press-desc">Open source code is integral to tech stacks at many large companies, but its authors rarely get recognized — let alone compensated — for their work. Max Howell claims the package manager software he created, Homebrew, is the most contributed-to open source software program in the world. Still, companies including Square and Google that have leveraged Homebrew haven’t acknowledged Howell’s contributions to their product in any meaningful way, he told TechCrunch — though he noted they did send him some branded swag items, including a blanket.</p>
        <a href="https://techcrunch.com/2022/03/23/open-source-project-tea-is-brew2-for-web3/">Read more</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1">
        <div class="press-image" id="techcrunch-img">

        </div>
      </div>
    </div>

    <div class="divider one-box-down">
      <hr>
    </div>

    <div class="row gx-5">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2">
        <h5>Businesswire</h5>
        <p class="press-desc">SAN JUAN, Puerto Rico--(BUSINESS WIRE)--Tea, a new company building an open source software platform on the blockchain, today announced an $8 million seed funding round led by Binance Labs, the venture capital and innovation incubator of Binance, the world's leading blockchain ecosystem and cryptocurrency infrastructure provider. Open source has been foundational for the Internet, underpinning everything online for more than twenty-five years. Tea Co-Founder and CEO Max Howell created the open-source software package management system Homebrew, also known as “brew,” which grew into the most contributed-to open source software program in the world. Homebrew has been used by tens of millions of developers worldwide and has served as the backbone for the largest technology corporations to build their products without directly contributing to its development.</p>
        <a href="https://www.businesswire.com/news/home/20220323005603/en/Tea-Raises-8-Million-Led-by-Binance-Labs-to-Create-New-Open-Source-Software-on-the-Blockchain">Read more</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1">
        <div class="press-image" id="businesswire-img">

        </div>
      </div>
    </div>

  </div>
</section>

<hr>

<section class="one-box">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Founder Bios</h3>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-xl-6 ">
        <h5>Max Howell</h5>
        <p>Co-Founder and CEO Max Howell created the open-source software package management system Homebrew, also known as “brew,” which grew into the most contributed‐to open source software program in the world. Homebrew has been used by tens of millions of developers worldwide and has served as the backbone for the largest technology corporations to build their products without directly contributing to its development.</p>
      </div>
      <div class="col">
        <h5>Timothy Lewis</h5>
        <p>Co-Founder Timothy Lewis began his career in 2002 at e-velocity technical consulting as a  Data Center Engineer for two years, after that he held any roles as a Consulting Engineer, worked at Oracle, Kaiser Permanente until he switched over to Blockchain Development in 2017 and has been involved in that area ever since. He now is the founder of a non-profit called DEVxDAO which supports DAO which provides grants to build cohesion and longevity in decentralized systems at large.</p>
      </div>
    </div>
  </div>
</section>

<style>

  .asset-btn{
    width: 100%;
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    background-color: #1a1a1a;
    border: .5px solid #ffffff;
    color: #fff;
    height: 40px;
    padding-top: 5px;
    transition: 0.2s ease-in-out;
  }

  .asset-btn:hover{
    background-color: #8000ff;
    box-shadow: inset 0px 0px 0px 4px #1a1a1a !important;
  }

  .press-image{
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  #binance-img{
    background-image: url("/Images/binance-labs-gen-art.jpg");
  }


  #techcrunch-img{
    background-image: url("/Images/techcrunch-gen-art.jpg");
  }

  #businesswire-img{
    background-image: url("/Images/businesswire-gen-art.jpg");
  }
  
  .press-desc{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  @media only screen and (max-width: 576px) {

    .press-image{
      height: 100px;
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      margin-bottom: 40px;
    }

  }

</style>

{{ end }}
