{{ define "main" }}

<section class="two-boxes hero-section">
<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="pro-gen-art-1"></div>
<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="pro-gen-art-2"></div>
<div class="gen-art animated-5 animatedFadeInUp fadeInUp" id="pro-gen-art-3"></div>
<div class="gen-art animated-5 animatedFadeInUp fadeInUp" id="pro-gen-art-4"></div>
<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="pro-gen-art-5"></div>

  <div class="container">
    <div class="row">
      <div class="col" style="position:relative; z-index:2;">
        <h1>Products</h1>
        <p class="lead">Just like the perfect cup of tea, greatness takes time to steep. But the wait is over… it’s time to take your first sip.</p>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="products-tea-cli">
  <div class="container product-container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
        <h3>tea.cli</h3>
        <p>Tea.cli is more than a package manager. With new features such as executable markdown, a universal interpreter, and virtual environment manager it has never been easier to create and collaborate. </p>
        <button onclick="window.location.href='/tea-cli/'" class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
      </div>
      <div class="col my-auto">
        <img src="/Images/tea_cli_mockup_no_background.png" alt="tea-cli preview" style="width:100%;">
      </div>
    </div>
  </div>
</section>

<hr>

<section class="products-tea-package-manager">
  <div class="container product-container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-lg-2 my-auto">
        <h3>tea protocol</h3>
        <p>The OSS funding problem has always existed, but until now, we haven't had the technology to fix it. tea is changing that by facilitating the graph of open source projects that underpin all modern digital infrastructure. We're putting this information on-chain so that we can create a map to guide value redistribution back into the open source projects that make the Internet possible.</p>
        <button onclick="window.location.href='/white-paper/'" class="detail-btn-large"><i class="icon-enter-arrow"></i>READ OUR WHITE PAPER</button>
      </div>
      <div class="col">
        <img src="/Images/tea_cli_mockup_no_background.png" alt="tea-cli preview" style="width:100%;">
      </div>
    </div>
  </div>
</section>

{{- partial "full-width-cta.html" -}}

{{ end }}
